<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ZES</title><meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static/webdata/all.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id = "heading">   
            <p id = "head_text">Welcome to Zoha Entertainment System</p>
        </div>
        <br>
        <br>
        <div id = "status" onclick="window.location.href='/TV';">
            <br>
            <br>
            <p id = "status_head">Watch Video</p>
            <br>
            <br>
        </div>
        <br>
        <br>
        <div id = "status" onclick="window.location.href='/Big Boss';">
            <br>
            <br>
            <p id = "status_head2">Houston</p>
            <br>
            <br>
        </div>
    </body>
    <script src= "/static/webdata/js/style.js"></script>
</html>