<!DOCTYPE html>
<html>
    <head>
        <m<meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>ZES</title><meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="/static/webdata/all.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">eta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ZES</title><meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static/webdata/all.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id = "heading">   
            <p id = "head_text">Goal Goal Rani ???</p>
        </div>
    </body>
</html>